body {
    margin: 0; /* Reset default margin */
    height: 100vh; /* Make the body take the full viewport height */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f7f7f7; /* Optional: add a background color */
}

.grid-container {
    display: grid;
    gap: 0px;
    width: 700px;
    height: 700px;
}

.grid-item {
    background-color: #e0e0e0;
    border: 0.5px solid #ccc;
}