

body {

    margin: 100px; /* Reset default margin */
    gap: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #f7f7f7; /* Optional: add a background color */
}

header {
    border: 1px solid;
    margin: auto;
    width: 30%;
    padding: 10px;
    top: 50%;
    transform: translate(0, -70%);
    text-align: center;
}
.main-container {
    display: flex;
    align-items: start;
}

.button-container {
    position: absolute;
    top: 50%;
    transform: translate(80%, -40%);

    height: 600px;
    padding: 8px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-right: 0px;
    border: 1px solid rgb(78, 78, 78);
    
    justify-content: center;
}



button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
  }

 

.grid-container {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 0px;
    display: grid;
    gap: 0px;
    width: 700px;
    height: 700px;
    border: 10px solid #000000;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item {
    background-color: #ffffff;
    border: 0px solid #ccc;
    transition: background-color 0.3s;
}

.color-picker-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-display {
    width: 50px;  /* Circle size */
    height: 50px;
    border-radius: 50%;  /* Makes it a circle */
    border: 2px solid #000;  /* Optional: border for the circle */
    margin-left: 10px;
    background-color: #000000; /* Initial color (can be set to anything) */
}

#colorPicker {
    display: none; /* Initially hide the color input */
}
